*{
box-sizing: border-box;
}

body{
    background-color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.main_container{
position:relative;
border-radius: 15px;
border:1px solid black;
box-shadow: 0px 0px 10px 1px rgba(60, 47, 175, 0.336);
width: 80%;
height: 95%;
}

header, main, footer{
    border:1px solid black;
    position:absolute;
    width: 100%;
    }

header{
    top:0;
    left:0;
}

footer{
    bottom:0;
    left:0
}

